*{
    margin: 0;
    padding: 0;
}


img{
    background-size: cover;
    width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    z-index: -1000;
    display: flex;
    background-position: center center;
    justify-content: center;
    text-align: center;
}
}